.Home{
    font-family: 'Varela Round', sans-serif;
}
h1 {
    font-size:20vw;
}

.contact{
    
    padding:10px;
    border:1px solid;
}


.landing-page {
    margin:0;
    padding:0;
    font-family: 'Shadows Into Light', cursive;
    color:dodgerblue;
    user-select: none;
    /*create parallax effect image*/
    background-image: url("img/balloon-1.jpg");
    height:100vh;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    /*centers text*/
    display:flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
#shabr-fullname {
    font-family: 'Varela Round', sans-serif;
    font-size:50px;
}
#shabr-slogan {
    font-family: 'Varela Round', sans-serif;
    font-size:40px;
}
.img-responsive {
    width:100vw;
}
.carousel-inner > .item {
   height: 750px;
}
@media(max-width:766px) {
    #shabr-fullname {
        font-size:35px;
    }
}
