.Home{
    font-family: 'Varela Round', sans-serif;
}
#shabr-title {
    font-size:20vw;
}
.contact{
    padding:10px;
    border:1px solid;
    color:#FB3E13
}
.info-header {
    color:#FB3E13;
}

.landing-page {
    margin:0;
    padding:0;
    font-family: 'Shadows Into Light', cursive;
    color:dodgerblue;
    user-select: none;
    /*create parallax effect image*/
    background-image: url("img/balloon-1.jpg");
    height:100vh;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    /*centers text*/
    display:flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
#shabr-fullname {
    font-family: 'Varela Round', sans-serif;
    font-size:50px;
    color:#FB3E13
;
}
#shabr-slogan {
    font-family: 'Varela Round', sans-serif;
    font-size:40px;
}
.img-responsive {
    width:100vw;
}
.carousel-inner > .item {
   height: 750px;
}
.home-text {
    color:#FB3E13;
}
.info-p {
    font-size:17px;
    font-family: Helvetica;
}
#info-section {
    margin:50px 50px;
}
#list-group{
  font-family: 'Alegreya Sans SC', sans-serif;
  font-size: 20px;
  margin-top:30px;
  margin-bottom:30px;
  }

@media(max-width:768px) {
    #shabr-fullname {
        font-size:35px;
        text-align: center;
    }
    #shabr-slogan {
        font-size:25px;
        text-align: center;
    }
    
}

