.navbar-brand {
    font-size:40px;
}
.brand-name {
    margin:10px -20px;
}
.navbar-nav {
    font-size:20px;
    margin:10px 30px;
}
.dropdown-button {
    margin:10px 10px;
    float:right;
}
.dropdown-menu {
    font-size:16px;
}
.glyphicon-menu-hamburger {
    font-size:25px;
}
@media(min-width:767px) {
    .dropdown-button {
        display:none;
    }
}
@media(max-width:766px) {
    .navbar-nav {
        display:none;
    }
}